@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
    margin:0;
    padding:0;
    scroll-behavior:smooth;
    box-sizing:border-box;
    font-family:"Raleway",sans-serif;
    transition:.3s background-color,.3s width,.3s min-width,.3s height;
}
body {
    display:flex;
    max-width:1100px;
    margin:0 auto;
    min-height:100vh;
    background:#111;
}
img {
    max-width:100%;
}
p {
    text-align:justify;
}
h1,h2,h3,h4,h5,h6,p {
    line-height:1.6;
    margin:.5rem 0;
}
table {
    border-collapse:collapse;
    width:100%;
}
td,th {
    padding:.25rem;
    border-top:1px solid black;
    line-height:1.6;
}
th {
    vertical-align:top;
    text-align:left;
    min-width:8rem;
}
th.noborder {
    border:none !important;
}
#leftside {
    min-width:250px;
    max-width:250px;
    background-color:#4472c4;
}
#leftside li {
    list-style:none;
    padding:.5rem 1rem;
    color:white;
    text-align:justify;
}
a {
    color:#2f69c0;
    text-decoration:none;
    word-break:break-all;
}
#leftside h1 {
    padding:.5rem;
    padding-left:.75rem;
    font-size:16pt;
    border-top-left-radius:10rem;
    border-bottom-left-radius:10rem;
    background-color:#fff;
    border-bottom:1px solid #bbb;
    margin:.5rem;
    margin-right:0;
}
#rightside {
    padding:1rem;
    background:#fff;
}
#rightside h1 {
    color:#4472c4;
}
#rightside h2 {
    color:#2f5496;
}
#rightside h3 {
    color:#404040;
    text-transform:uppercase;
}
#rightside li {
    margin:1rem 0;
    margin-left:2rem;
    text-align:justify;
}
li.muted {
    list-style:none;
    color:#444;
}
#hamburger {
    position:fixed;
    right:0;
    background:linear-gradient(135deg,#eee ,#bbb);
    padding:1rem;
    padding-top:.75rem;
    border-bottom-left-radius:1.5rem;
    display:none;
    z-index:2;
}
#settings {
    display:flex;
}
.setting {
    display:flex;
    padding:.3rem;
    border:1px solid #000a;
    border-left:none;
    cursor:pointer;
    background:linear-gradient(135deg, #fff, #ddd);
}
.setting::selection {
    background:none;
}
.firsticon {
    border-left:1px solid #000a;
    border-top-left-radius:.3rem;
    border-bottom-left-radius:.3rem;
}
.lasticon {
    border-top-right-radius:.3rem;
    border-bottom-right-radius:.3rem;
}
@media screen and (max-width:720px) {
    #hamburger {
        display:block;
        cursor:pointer;
    }
    #leftside {
        min-width:0;
        width:0;
    }
}