/* External Sources */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Patua+One&family=Source+Code+Pro&display=swap');

/* Variables */

:root {
    --asc-txt: #ddd;
    --asc-bgd: #111;
    --dsc-bgd: #444;
    --asc-brd: #333;
    --hgl-txt: goldenrod;
    --hgl-bgd: goldenrod;
}

/* Common Styles */

.box-small       { width: 10rem; min-width: 10rem; }
.square          { aspect-ratio:1/1; }
.flex            { display: flex; }
.flex-1          { flex:1; }
.wrap            { flex-wrap: wrap; }
.column          { flex-direction: column; }
.just-center     { justify-content: center; }
.align-center    { align-items: center; }
.margin-center   { margin: 1rem auto; }
.max-width       { max-width: 56rem; }
.max-width *     { max-width: 100%; }
.space-between   { justify-content: space-between; }
.border-thin     { border: .1rem var(--asc-brd) solid; }
.border-thick    { border: .25rem var(--asc-brd) solid; }
.circle          { border-radius: 100%; }
.rounded         { border-radius: 1rem; }
.bg-cover        { background-size: cover; }
.link-icon       { width:1.5rem; border-radius: 100%;}
.padd-small      { padding: .5rem; }
.padd-medium     { padding: 1rem; }
.padd-large      { padding: 2rem; }
.no-pad-h        { padding-block-start:.5rem;}
.margin-small    { margin: .5rem; }
.margin-small-x  { margin-left: .5rem; margin-right: .5rem; }
.margin-small-y  { margin-top: .5rem; margin-bottom: .5rem; }
.margin-medium   { margin: 1rem; }
.margin-medium-x { margin-left: 1rem; margin-right: 1rem; }
.margin-medium-y { margin-top: 1rem; margin-bottom: 1rem; }
.margin-large    { margin: 2rem; }
.margin-large-x  { margin-left: 2rem; margin-right: 2rem; }
.margin-large-y  { margin-top: 2rem; margin-bottom: 2rem; }
.clear           { clear: both; }

/* Animations */

.link-icon:hover {
    background-color: var(--hgl-txt);
}

/* Built-in Tags */

body {
    background-color: var(--asc-bgd);
}

section {
    margin-top: -1.25rem !important;
}

* {
    margin: 0;
    padding: 0;
    color: var(--asc-txt);
    transition: all .3s;
    font-family: "Montserrat", sans;
    box-sizing: border-box;
    line-height: 1.618;
}

h1, h2, h3, h4, h5, h6 {
    line-height:1.6;
    font-family: "Open Sans", cursive;
    margin:1rem 0;
}
p {
    line-height:2;
    margin:1rem 0;
    text-align: justify;
}
h1 { border-bottom: 2px solid var(--dsc-bgd); font-size: 2rem; }
h3 { text-align: center; }

/* Elements */

#header-container {
    border-radius: 1rem;
    border: .25rem #333 solid;
    background-color:#222;
    background-image: url("assets/background.png");
    background-size: cover;
    background-position:center;
}

#profile-picture {
    background-image: url("assets/pp.jpeg");
    animation: jump 5s 0s infinite normal;
    box-shadow: 0 .1rem .1rem #fff5;
}

#my-name {
    text-align: center;
    font-size: 3rem;
    font-family: 'Patua One', cursive;
    animation: shake 4s ease 0s infinite normal;
}
#my-title {
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.6;
    font-family: 'Source Code Pro', monospace;
    color: var(--hgl-txt);
}

#main-menu {
    margin: -1rem 1rem !important;
    border-top:none;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    background: linear-gradient(-60deg, rgb(25,108,173) 0%, rgb(160,30,130) 20%, rgb(63,39,150) 40%, rgb(0,0,0) 100%);
}

.main-menu-item {
    padding:.75rem;
    display: flex;
    align-items: center;
    user-select: none;
    text-align: center;
    cursor: pointer;
    text-shadow: 0 0 .5rem var(--asc-txt);
}
.main-menu-item:hover {
    color: var(--hgl-bgd);
}

.lang {
    display: inline-block;
    padding: .5rem;
    margin-bottom: .5rem;
    padding-left: 2.5rem;
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 0 8px;
}
.tr { background-image: url('assets/turkish.png'); }
.en { background-image: url('assets/english.png'); }

    /* Social Links */
    #linked-in { background-image: url("assets/linkedin.png"); }
    #youtube   { background-image: url("assets/youtube.png"); }
    #github    { background-image: url("assets/github.png"); }
    #kaggle    { background-image: url("assets/kaggle.png"); }
    #telegram  { background-image: url("assets/telegram.png"); }
    #itch      { background-image: url("assets/itch.png"); }
    #mail      { background-image: url("assets/mail.png"); }
    #aur       { background-image: url("assets/aur.png"); }
    #lure      { background-image: url("assets/lure.png"); }

.exp-info, .education {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0;
    }
.exp-role, .exp-date, .exp-title, .edu-level, .edu-date, .edu-school, .edu-desc {
    padding: 0 .5rem;
    padding-left: 2.5rem;
    background-size: 24px;
    background-position: .5rem 0;
    background-repeat: no-repeat;
    font-weight: bold;
}
.exp-role  {background-image:url('assets/task.svg');}
.exp-date  {background-image:url('assets/date.svg');}
.exp-title  {background-image:url('assets/label.svg');}
.edu-level  {background-image:url('assets/education.svg');}
.edu-date  {background-image:url('assets/date.svg');}
.edu-school  {background-image:url('assets/school.svg');}
.edu-desc {
    background-image:url('assets/desc.svg');
    font-weight: normal;
}
.exp-title a {
    color: var(--txtdsc);
}
.exp-visual {
    float: right;
    width: 50%;
    filter: drop-shadow(0 0 .1rem var(--txtdsc))
}

/* Magic */

@media screen and (max-width:58rem) {
    .max-width {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    #header-container {
        flex-direction: column;
    }
}

/* Animations */

@keyframes jump {
      0% { transform:rotate(-5deg); }
     50% { transform:rotate(5deg); }
    100% { transform:rotate(-5deg); }
}

@keyframes shake {
     0% { transform: rotate(-2deg); }
     2% { transform: rotate(2deg); }
     4% { transform: rotate(-2deg); }
     6% { transform: rotate(2deg); }
     8% { transform: rotate(-2deg); }
    10% { transform: rotate(0deg); }
}